body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #777;
    margin: .5em 0;
    margin-right: 1em;
    margin-left: 1em;
}

.btn:hover {
    cursor: pointer;
    background: #eaeaea;
    color: #333;
}

#header {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#header .bg-image {
    position: absolute;
    background: #333 url('../assets/code-coding-computer-574071.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: 0;
    opacity: 0.7;
}

#header h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#header .content-wrap,
#section-1 .content-wrap {
    padding: 0 1.5em;
}
/* Section-A */
#section-1 {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}
/* Section-B */
#section-2 {
    padding: 2em 1em 1em;
}

#section-2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-2 li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

/* Section-C */
#section-3 {
    background: #fff;
    color: #333;
    padding: 2em;
}
/* Section-D */
#section-4 .box{
    padding: 2em;
    color: #fff;
}

#section-4 .box:first-child {
    background: #c91717;
}
/* Footer */
#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-emphasis: center;
}

a {
    color: #c91717;
    text-decoration: none;
}

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    #section-1 .content-text {
        columns: 2;
        column-gap: 2em;
    }
    #section-1 .content-text p {
        padding-top: 0;
    }
    .content-wrap, #section-2 ul {
        grid-column: 2/4;
    }
    .box, #main-footer div {
        grid-column: span 2;
    }
    #section-2 ul {
        display: flex;
        justify-content: space-around;
    }
    #section-2 li {
        width: 31%;
    }
}