#library-wrap {
    padding: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #eaeaea;
}

.library-title h2 {
    font-size: 50px;
    font-weight: 600
}

#library-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    background: #333;
}

#library-images {
    max-width: 100%;
    margin: 0 auto 30px;
    min-height: 255px;
}

#library-image-wrap {
    position: relative;
    background: #fff;
    color: #333;
    margin-top: 15px;
    margin-bottom: 15px;
}

#library-image-wrap h5 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(135, 135, 135, 0.2);
    margin-bottom: 15px;
}