#user-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    background: #333;
}

#user-images {
    max-width: 100%;
    margin: 0 auto 30px;
}

#user-image-wrap {
    position: relative;
    background: #fff;
    color: #333;
    margin-top: 15px;
    margin-bottom: 15px;
}

#user-image-wrap h5 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(135, 135, 135, 0.2);
    margin-bottom: 15px;
}   

.user-wrap {
    padding: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #eaeaea;
}

#user-header {
    width: 100%;
    max-width: 565px;
    display: flex;
}

.avatar-wrap {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    text-align: center;
}

.avatar-wrap img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 0px;
}

.user-edit-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background: #c91717;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    margin-right: 5px;
    width: 75px;
}

@media (max-width: 700px) {
    .user-wrap {
      flex-direction: column;
    }
    #user-header {
      flex-direction: column;
      align-items: center
    }
  }